{{/* gotype: entgo.io/ent/entc/gen.Type */}}

{{/* A template for model comment. */}}
{{- define "model/comment/additional/comments" }}
    {{- if $comments := $.Annotations.Comments }}
        {{- range $comment := $comments}}
            {{- range $line := split $comment "\n" }}
                // {{$line}}
            {{- end}}
        {{- end}}
    {{- end }}
{{- end }}

{{/* A template for setting the field comment. */}}
{{- define "model/fieldcomment" }}
    {{- if $.Comment }}
        {{- range $line := split $.Comment "\n" }}
            // {{ $.StructField }} {{ $line }}
        {{- end }}
    {{- else }}
        // {{ $.StructField }} holds the value of the "{{ $.Name }}" field.
    {{- end }}
    {{- if $comments := $.Annotations.Comments }}
        {{- range $comment := $comments}}
            {{- range $line := split $comment "\n" }}
                // {{$line}}
            {{- end}}
        {{- end}}
    {{- end }}
{{- end }}

{{/* A template for setting the edge comment. */}}
{{- define "model/edgecomment" }}
    {{- if $.Comment }}
        {{- range $line := split $.Comment "\n" }}
            // {{ $.StructField }} {{ $line }}
        {{- end }}
    {{- else }}
        // {{ $.StructField }} holds the value of the {{ $.Name }} edge.
    {{- end }}
    {{- if $comments := $.Annotations.Comments }}
        {{- range $comment := $comments}}
            {{- range $line := split $comment "\n" }}
                // {{$line}}
            {{- end}}
        {{- end}}
    {{- end }}
{{- end }}
